* {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

//Allt Inom Naven

nav {
    margin-right: 20px;
  }
  
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #d9bbad;
  }
  
#logo-name {
    a {
        color: white;
        text-decoration: none;
    }
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin: 0%;
    padding-left: 5%;
    text-align: center;
    color: white;
    text-shadow:
        3px 3px 0 #666,
}
  
.tree-logo {
    padding: 0px 10px;
}
  
input {
    display: none;
}
  
.links-content {
    a {
   text-decoration: none;
   color: white;
   font-size: large;
   padding: .1rem 2rem;
   border-radius: 20px;
   text-shadow: 1px 1px 0 black,
   }
   a:hover {
   background-color: #a38e84;
   transition: background-color 0.8s ease;
   }
}
  
@media (max-width: 768px) {
    .links-content {
       display: grid;
       position: absolute;
       background: #d9bbadaa;
       right: 0px;
       width: 180px;
       height: 400px;
       margin-top: 20px;
       // margin-top: 60px;
       transform: translateY(-200%);
       transition: .6s;
       align-items: center;
       justify-items: center;
       overflow-x: hidden;
       padding: 15% 30%;
   }
   
   .links-content li {
       padding-left: 35px;
       position: relative;
   }
   
   nav .navbar-toggler {
       display: grid !important;
   }
   
   nav .navbar-toggler {
   display: none;
   height: min-content;
   margin-top: 15px;
   cursor: pointer;
   }
   
   nav .navbar-toggler .bar {
   width: 40px;
   height: 5px;
   margin-bottom: 10px;
   background: white;
   border-radius: 10%;
   transition: .4s;
   }
   
   input:checked ~ nav .links-content {
   transform: translateY(0);
   }
   
   input:checked ~ nav .navbar-toggler {
   margin-top: 15px;
   
   }
   
   input:checked ~ nav .navbar-toggler .bar:nth-child(1) {
   position: absolute;
   transform: rotate(45deg);
   }
   
   input:checked ~ nav .navbar-toggler .bar:nth-child(2) {
   display: none;
   }
   
   input:checked ~ nav .navbar-toggler .bar:nth-child(3) {
   transform: rotate(-45deg);
   }
   
}
  
@media (min-width: 768px) {
    .links-content {
        display: flex;
        flex-direction: row;
    }
  
}

//main

.main-container {
    font-size: 1.3rem;
    // min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    &--form{
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70vw;
        background-color: rgb(195, 195, 195);
        label {
            margin: 1em;
        }
        input {
            height: 2rem;
            width: 40rem;
            display: block;
            margin: 2rem;
        }
        h2 {
            display: block;
            font-size: 5rem;
            margin-bottom: 5rem;
        }

    }
    
}

.button-wrapper {
    display: flex;
    justify-content: space-between;
    button {
        margin: 3rem;
        border-radius: 10px;
        width: 8rem;
        height: 2.5rem;
    }
    a {
        text-decoration: none;
        color: black;
    }
}

#cart-summerize {
    display: flex;
    height: 40vh;
    width: 50vw;
    overflow: scroll;
    flex-direction: column;
    justify-content: space-between;
}

.tot-wrapper {
    margin: 2rem;
    font-size: 1.5rem;
}

#cart-basket {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    button {
        font-size: 1.5rem;
        width: 2rem;
        height: 2rem;
        border-radius: 10px;
        border: none;
    }
}

.cart-object {
    margin: 1.5rem;
    width: 50rem;
    height: 5rem;
    display: flex;
    justify-content: space-evenly;
    padding: .5em;
    p {
      padding: 1em;
    }
    .cart-image {
      width: 50px;
      height: 50px;
    }
    .plus-btn, .minus-btn {
      background-color: white;
      color: black;
      &:hover {
        background: rgba(128, 128, 128, 0.415);
      }
    } 
}



//Footer


.footer-container {
    background-color: #b6b6b6;
    display: flex;
    justify-content: flex-end;
    li {
        list-style: none;
        margin: 10px;
    }
    a {
        text-decoration: none;
        list-style-type: none;
        font-weight: bold;
        color: black;
        padding: 5px;
        border-radius: 5px;
       }
       a:hover {
        background-color: #f9f9f985;
        transition: background-color 0.8s ease;
       }
}
  
.footer-list {
    display: flex;
    justify-content: center;
    margin-right: 50px;
}