html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12pt;
}

.main-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    &--form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 60vw;
        height: 70vh;
        background-color: rgb(195, 195, 195);
        label {
            margin: 1em;
            font-size: 1.1rem;
        }
        input {
            width: 30em;
            display: block;
            margin: 1em;
        }
        h2 {
            display: block;
            font-size: 2rem;
            margin-bottom: 2em;
        }
        .btn-left {
            margin-right: 5em;
        }
        .btn-right {
            margin-left: 5em;
        }
    }

}