html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#product-container {
    border: 1px solid #c3c3c3;
    display: flex;
    flex-wrap: wrap;
  }

.sidebar-container {
    width: 10%;
    li {
      list-style: none;
    }
}

.content-window {
    width: 70%;
}

.product-object {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 180px;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin: 30px;
    img{
      width: 90px;
      height: 100px;
    }
  }

.price {
  color: grey;
  font-size: 22px;
}

button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

button:hover {
  opacity: 0.7;
}

.cart-container {
  width: 10%;
  border: 2px solid black;
}

.cart-object {
  width: 100px;
  height: 100px;
  display: flex;
  padding: 1em;
  // margin: 1em;
  p {
    padding: 1em;
  }
  .cart-image {
    width: 50px;
    height: 50px;
  }
  .plus-btn, .minus-btn {
    height: auto;
    width: auto;
    background-color: white;
    color: black;
    &:hover {
      background: rgba(128, 128, 128, 0.415);
    }
  } 
}
