/************** Hela produktsidan ***************/
* {
  list-style: none;
  margin: 0;
  // padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

/************** Mobile first ***************/
@media (max-width: 768px) {
  //Header
  .links-content {
    display: grid;
    position: absolute;
    background: #d9bbadaa;
    right: 0px;
    width: 180px;
    height: 400px;
    margin-top: 20px;
    // margin-top: 60px;
    transform: translateY(-200%);
    transition: 0.6s;
    align-items: center;
    justify-items: center;
    overflow-x: hidden;
    padding: 15% 30%;
    li {
      padding-left: 20px;
      position: relative;
    }
  }

  // Navbar
  nav .navbar-toggler {
    display: grid !important;
  }

  nav .navbar-toggler {
    display: none;
    height: min-content;
    margin-top: 15px;
    cursor: pointer;
  }

  nav .navbar-toggler .bar {
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background: white;
    border-radius: 10%;
    transition: 0.4s;
  }

  input:checked ~ nav .links-content {
    transform: translateY(0);
  }

  input:checked ~ nav .navbar-toggler {
    margin-top: 15px;
  }

  input:checked ~ nav .navbar-toggler .bar:nth-child(1) {
    position: absolute;
    transform: rotate(45deg);
  }

  input:checked ~ nav .navbar-toggler .bar:nth-child(2) {
    display: none;
  }

  input:checked ~ nav .navbar-toggler .bar:nth-child(3) {
    transform: rotate(-45deg);
  }

  // Main
  // Products
  .content-window {
    overflow: scroll;
    height: 90vh;
    width: 60vw;
  }

  #product-container {
    width: 230px;
    .product-object {
      //  display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 200px;
      margin: auto;
      text-align: center;
      font-family: arial;
      margin: 20px;
      padding: 10px;
      img {
        width: 90px;
        height: 100px;
      }
    }
  }

  // Sidebar
  .sidebar-container {
    margin: 0px;
    #categories {
      padding: 0px;
    }
  }

  // Button
  #myBtn {
    height: 2%;
    width: 100px;
  }

  // Cart
  #cart-container {
    width: 100vw;
    height: auto;

    #cart-basket {
      padding: 0px;

      .cart-object {
        margin: 0rem;
        height: 80px;
      }
    }
  }

  #total,
  #total-sum {
    margin: 16px 0;
    font-size: x-large;
  }
}

/************** Desktop ***************/

// Header
#logo-name {
  a {
    color: white;
    text-decoration: none;
  }
  font-size: 50px;
  margin: 0%;
  padding-left: 5%;
  text-align: center;
  color: white;
  text-shadow: 3px 3px 0 #666;
}

input {
  display: none;
}

// Navbar
nav {
  margin-right: 20px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #d9bbad;
}

.links-content {
  a {
    text-decoration: none;
    color: white;
    font-size: large;
    padding: 0.5rem 2rem;
    border-radius: 20px;
    text-shadow: 1px 1px 0 black;
  }
  a:hover {
    background-color: #8e7b72;
    transition: background-color 0.8s ease;
  }
}

// Main
.main-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.product-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
}

// Cart
#cart-basket {
  padding: 0 5px;
}

.cart-object {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 5%;
  p {
    padding: 1em;
  }
  .cart-image {
    width: 50px;
    height: 50px;
  }
  .plus-btn,
  .minus-btn {
    height: auto;
    width: auto;
    background-color: white;
    color: black;
    &:hover {
      background: rgba(128, 128, 128, 0.415);
    }
  }
}

.tot-wrapper {
  margin: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  button {
    width: 10rem;
    a {
      color: white;
      text-decoration: none;
      list-style: none;
    }
  }
}

.read-btn {
  background-color: #70636349;
  color: black;
  font-size: small;
}

// Product
.content-window {
  overflow: scroll;
  height: auto;
  // width: 60vw;
}

.description-pop {
  display: none;
}

.price {
  color: grey;
  font-size: 22px;
}

.description-text {
  background-color: #b6b6b631;
  border-radius: 5%;
  padding: 10px;
}

// SideBar

.sidebar-container {
  li {
    padding: 1rem;
    list-style: none;
    cursor: pointer;
  }
  li:hover {
    background-color: #65656585;
    transition: background-color 0.8s ease;
    width: auto;
    border-radius: 2px;
  }
}

#categories {
  padding: 0 25px;
}

// Buttons
button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

button:hover {
  opacity: 0.7;
}

.fa-solid {
  color: #000;
}

.fa-solid:hover {
  background-color: #555;
}

#myBtn {
  position: fixed;
  bottom: -110px;
  margin-left: 5%;
  padding: 0;
  z-index: 99;
  background-color: transparent;
  border-radius: 100%;
}

// Footer
.footer-container {
  height: 30vh;
  margin: rem;
  display: flex;
  align-items: center;
  gap: 20rem;
  justify-content: center;

  ul {
    li {
      list-style: none;
      margin: 10px;
    }
    a {
      text-decoration: none;
      list-style-type: none;
      font-weight: bold;
      color: black;
      padding: 5px;
      border-radius: 5px;
    }
    a:hover {
      background-color: #f9f9f985;
      transition: background-color 0.8s ease;
    }
    border-left: 5px solid grey;
    border-right: 5px solid grey;
  }
}

// Desktop
@media (min-width: 768px) {
  .links-content {
    display: flex;
    flex-direction: row;
  }

  #myBtn {
    height: 40%;
    width: 40px;
  }

  #cart-container {
    width: 30vw;
    position: relative;
    z-index: 1;
    span {
      // margin: 1rem;
      font-size: 1.5rem;
    }
  }

  .cart-object {
    width: 415px;
  }

  #product-container {
    border: 1px solid #c3c3c3;
    display: flex;
    flex-wrap: wrap;
    width: 785px;
    margin-bottom: 60px;
    .product-object {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 200px;
      margin: auto;
      text-align: center;
      font-family: arial;
      margin: 20px;
      padding: 10px;
      img {
        width: 90px;
        height: 100px;
      }
    }
  }
}
