.product-object {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 180px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin: 30px;
  img {
    width: 90px;
    height: 100px;
  }
}

.product-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
}

.price {
  color: grey;
  font-size: 22px;
}

.description-text {
  margin: 2rem;
}
