#cart-container {
    position: relative;
    z-index: 1;
    overflow: scroll;
    width: 20vw;
    height: auto;
    span {
      // margin: 1rem;
      font-size: 1.5rem;
    }
}

#cart-basket {
    padding: 0;
}

.tot-wrapper {
    margin: .5rem;
    display: flex;
    button {
      width: 10rem;
      a {
        color: white;
        text-decoration: none;
        list-style: none;
        }
    }
}

#total-sum {
    margin: 16px auto;
}

#total {
    margin: 16px auto;
}