@use "../variables/colors" as color;

nav {
  margin-right: 20px;
  li {
    list-style: none;
  }
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: color.$primary;
}

#logo-name {
  a {
    color: color.$whiteish;
    text-decoration: none;
  }
  font-size: 50px;
  margin: 0%;
  padding-left: 5%;
  text-align: center;
  color: color.$whiteish;
  text-shadow: 3px 3px 0 #666;
}

input {
  display: none;
}

.links-content {
  a {
    text-decoration: none;
    color: color.$whiteish;
    font-size: large;
    padding: 0.5rem 2rem;
    border-radius: 20px;
    text-shadow: 1px 1px 0 color.$blackish;
  }
  a:hover {
    background-color: color.$primaryDarker;
    transition: background-color 0.8s ease;
  }
}

@media (max-width: 768px) {
  .links-content {
    display: grid;
    position: absolute;
    background: color.$primaryTransparent;
    right: 0px;
    width: 180px;
    height: 400px;
    margin-top: 20px;
    // margin-top: 60px;
    transform: translateY(-200%);
    transition: 0.6s;
    align-items: center;
    justify-items: center;
    overflow-x: hidden;
    padding: 15% 30%;
  }

  .links-content li {
    padding-left: 20px;
    position: relative;
  }

  nav .navbar-toggler {
    display: grid !important;
  }

  nav .navbar-toggler {
    display: none;
    height: min-content;
    margin-top: 15px;
    cursor: pointer;
  }

  nav .navbar-toggler .bar {
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background: color.$whiteish;
    border-radius: 10%;
    transition: 0.4s;
  }

  input:checked ~ nav .links-content {
    transform: translateY(0);
  }

  input:checked ~ nav .navbar-toggler {
    margin-top: 15px;
  }

  input:checked ~ nav .navbar-toggler .bar:nth-child(1) {
    position: absolute;
    transform: rotate(45deg);
  }

  input:checked ~ nav .navbar-toggler .bar:nth-child(2) {
    display: none;
  }

  input:checked ~ nav .navbar-toggler .bar:nth-child(3) {
    transform: rotate(-45deg);
  }
}

@media (min-width: 768px) {
  .links-content {
    display: flex;
    flex-direction: row;
  }
}
