.sidebar-container {
  li {
    padding: 1rem;
    margin: 0;
    list-style: none;
    cursor: pointer;
  }
  li:hover {
    background-color: #65656585;
    transition: background-color 0.8s ease;
    width: auto;
    border-radius: 2px;
  }
}

#categories {
  padding: 0px;
}
